@media screen and (max-width: 1000px) {

}


@media screen and (max-width: 992px) {
  .offer {
    flex-wrap: wrap;
    padding: 110px 24px;
  }

  .offer .offer__description, .offer .offer__items {
    width: 100%;
  }
  .offer .offer__description .offer__description-link {
    padding: 45px 0;
  }
}

@media screen and (max-width: 767px) {
  .offer .offer__description .offer__description-link a, .banner__wrapper .banner .banner__description .banner__description-link a {
    padding: 2px 17px;
  }
  .offer .offer__description .offer__description-title span {
    font-size: 24px;
  }
  .contact .contact__subtitle, .our-team .our-team__text .our-team__text-subtitle, .products__wrapper .products .products__subtitle, .offer .offer__description .offer__description-subtitle {
    font-size: 18px;
  }
  .offer {
    align-items: center;
    flex-direction: column;
  }
  .offer .offer__description {
    color: #333333;
    width: 100%;
    padding: 0 24px;
  }
  .offer .offer__description .offer__description-link {
    margin: 0 auto;
  }
  .offer .offer__items {
    width: 100%;
    padding: 0 24px ;
  }
  .offer .offer__items .offer__items-item {
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {

}