
@media screen and (max-width: 1000px) {

}


@media screen and (max-width: 992px) {
  .subscribe__wrapper .subscribe {
    padding: 140px 24px;
  }
}

@media screen and (max-width: 767px) {
  .subscribe__wrapper .subscribe {
    padding: 140px 24px;
  }
  .subscribe__wrapper .subscribe .subscribe__title {
    font-size: 26px;
  }
  .subscribe__wrapper .subscribe .subscribe__form {
    flex-direction: column;
  }
  .subscribe__wrapper .subscribe .subscribe__form .subscribe__form-input {
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
  .subscribe__wrapper .subscribe .subscribe__form .subscribe__form-button {
    width: 100%;
    max-width: 100%;
    padding: 15px 0 0;
  }
}

@media screen and (max-width: 500px) {

}