.contact{
    padding: 89px 0 110px;
    .contact__title{
        @extend %dark-title;
    }
    .contact__subtitle{
        @extend %dark-subtitle;
        padding: 28px 0 0;
        @include pseudo-strip(54px, 0, 0, 0);
    }
    .contact__feedback{
        width: 100%;
        @extend %row-flexed;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 76px 0 0;
        position: relative;
        &::after{
            content: '';
            height: 100%;
            width: calc(100vw / 2);
            top: 0;
            right: calc(-100vw / 2);
            position: absolute;
            background-color: $contact-info-bg-color;
        }
        .contact__form{
            width: 50%;
            form{
                @extend %column-flexed;
                flex-wrap: wrap;
                color: $offer-font-color;
                .contact__form-details{
                    @extend %row-flexed;
                    justify-content: space-between;
                    input{
                        &[type=text], &[type=email]{
                            width: calc(50% - 27px);
                            height: 69px; 
                            background-color: $contact-form-items-bg-color;
                            border: none;
                            padding: 0 0 0 50px;
                            border-radius: 5px;
                            @include placeholder-color($offer-font-color);
                            @extend %remove-focus-outline;
                        }
                    }
                }

                .contact__form-message{
                    padding: 46px 0 0;
                    textarea{
                        width: 100%;
                        height: 248px;
                        resize: none;
                        padding: 34px 0 0 50px;
                        border: none;
                        border-radius: 5px;
                        background-color: $contact-form-items-bg-color;
                        @include placeholder-color($offer-font-color);
                        @extend %remove-focus-outline;
                    }
                }
                .contact__form-button{
                    padding: 39px 0 0;
                    input[type=button]{
                        display: block;
                        @include form-button($banner-btn-bg-color, $banner-btn-font-color, $banner-btn-bg-color, $banner-btn-font-color);
                        width: 100%;
                    }
                }
            }
        }
        .contact__info{
            width: calc(50% - 108px);
            
            background-color: $contact-info-bg-color;
            padding: 0 0 0 46px;
            @extend %column-flexed;
            justify-content: center;
            
            .contact__info-title{
                @extend %medium-title;
            }
            .contact__info-address, .contact__info-mail, .contact__info-phone{
                padding: 15px 0 0;
                @extend %medium-subtitle;
            }
        }
    }
}