


@media screen and (max-width: 1000px) {

}


@media screen and (max-width: 992px) {
  .our-team {
    padding: 0 24px 110px;
  }
}

@media screen and (max-width: 767px) {
  .our-team .our-team__text .our-team__text-title{
    font-size: 28px;
  }
  .our-team .our-team__text .our-team__text-subtitle {
    font-size: 16px;
  }
  .our-team {
    padding: 0 24px 110px;
  }
  .our-team .our-team__info{
    flex-direction: column;
  }
  .our-team .our-team__info .our-team__details {
    padding: 0;
  }
  .our-team .our-team__info .our-team__details .our-team__person-info .our-team__person-name {
    font-size: 24px;
  }
  .our-team .our-team__info .our-team__details .our-team__person-info .our-team__person-about {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {

}