footer{
    .footer__wrapper{
        background-color: $nav-bg-common-color;
        .footer__content{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .footer__copyright{
                color: $subtitle-medium-font-color;
            }
            .footer__social{
                ul{
                    display: flex;
                    padding: 47px 0 31px;
                    li{
                        display: inline-block;
                        list-style: none;
                        &:not(:last-child){
                            padding: 0 18px 0 0;
                        }
                        a{
                            &:hover{
                                img{
                                    opacity: 0.7;
                                } 
                            }
                        }
                    }
                }
            }
        }
    }
}