@media screen and (max-width: 1000px) {

}


@media screen and (max-width: 992px) {

}

@media screen and (max-width: 767px) {
  .banner__wrapper .banner {
    max-width: 100%;
    padding: 0 24px;
  }
  .banner__wrapper .banner .banner__description {
    width: 100%;
  }
  .banner__wrapper .banner .banner__video {
    width: 100%;
  }
  .banner__wrapper .banner .banner__description .banner__description-title span {
    font-size: 36px;
  }
  .banner__wrapper .banner .banner__description .banner__description-subtitle p {
    font-size: 16px;
    line-height: 1.2;
  }
  .banner__wrapper .banner .banner__description .banner__description-link {
    padding: 30px 0;
  }
}

@media screen and (max-width: 500px) {

}