@mixin valid-button($display, $font-size, $txt-transform, $txt-deco, $txt-col, $font-weight, $border-type, $border-width, $border-col, $border-rad, $bg-col, $txt-hover-col, $txt-hover-bg-col, $padding-vertical, $padding-horizontal){
    font-size: $font-size;
    text-transform: $txt-transform;
    text-decoration: $txt-deco;
    color: $txt-col;
    font-weight: $font-weight;
    border: $border-type $border-width $border-col;
    border-radius: $border-rad;
    background-color: $bg-col;
    padding: $padding-vertical $padding-horizontal;
    display: $display;
    &:hover{
        color: $txt-hover-col;
        background-color: $txt-hover-bg-col;
    }
}

@mixin list-link($link-color, $link-hover-color){
    a{
        text-decoration: none;
        color: $link-color;
        transition: $global-transition;
        &:hover{
            color: $link-hover-color;
        }
    }
}

@mixin pseudo-strip($margin-top, $margin-left, $margin-bottom, $margin-right){
    &::after{
        margin: $margin-top $margin-left $margin-bottom $margin-right;
        @extend %pseudo-strip;
    }
}

@mixin form-button($bg-color, $text-color, $bg-hover-color, $text-hover-color, $border-width, $border-radius, $padding-vertical, $padding-horizontal){
    background-color: $bg-color;
    border: solid $border-width $bg-color;
    padding: $padding-vertical $padding-horizontal;
    color: $text-color;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: $border-radius;
    transition: $global-transition;
    &:hover{
        border-color: $bg-hover-color;
        background-color: $text-hover-color;
        color: $bg-hover-color;
        cursor: pointer;
    }
}

@mixin form-input($background-color, $text-color, $placeholder-color, $border-width, $border-radius, $padding-vertical, $padding-horizontal){
    @extend %remove-focus-outline;
    @extend %form-input;
    background-color: $background-color;
    color: $text-color;
    border: solid $border-width transparent;
    border-radius: $border-radius;
    padding: $padding-vertical $padding-horizontal;
    &::placeholder{
        color: $placeholder-color;
    }
}

