.contact{
    padding: 89px 0 110px;
    .contact__details{
        .contact__title{
            @extend %dark-title;
        }
        .contact__subtitle{
            @extend %dark-subtitle;
            padding: 28px 0 0;
            @include pseudo-strip(54px, 0, 0, 0);
        }
    }
    .contact__feedback{
        width: 100%;
        @extend %row-flexed;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 76px 0 0;
        position: relative;
        &::after{
            content: '';
            height: calc(100% - 76px);
            width: calc(100vw / 2);
            top: 76px;
            right: calc(-100vw / 2);
            position: absolute;
            background-color: $contact-info-bg-color;
        }
        .contact__form{
            width: 50%;
            form{
                @extend %column-flexed;
                flex-wrap: wrap;
                color: $offer-font-color;
                .contact__form-details{
                    @extend %row-flexed;
                    justify-content: space-between;
                    input{
                        &[type=text], &[type=email]{
                            width: calc(50% - 27px);
                            height: 69px;
                            @include form-input($contact-form-input-bg-color, $contact-form-items-text-color, $contact-form-items-placeholder-color, 2px, 5px, 0, 50px);
                        }
                    }
                }

                .contact__form-message{
                    padding: 46px 0 0;
                    textarea{
                        width: 100%;
                        height: 248px;
                        resize: none;
                        @include form-input($contact-form-input-bg-color, $contact-form-items-text-color, $contact-form-items-placeholder-color, 2px, 5px, 34px, 50px);

                    }
                }
                .contact__form-button{
                    padding: 39px 0 0;
                    input[type=button]{
                        display: block;
                        @include form-button($banner-btn-bg-color, $banner-btn-font-color, $banner-btn-bg-color, $banner-btn-font-color, 2px, 5px, 25px, 50px);
                        width: 100%;
                    }
                }
            }
        }
        .contact__info{
            width: calc(50% - 108px);
            background-color: $contact-info-bg-color;
            padding: 0 0 0 46px;
            @extend %column-flexed;
            justify-content: center;
            
            .contact__info-title{
                @extend %medium-title;
            }
            .contact__info-address, .contact__info-mail, .contact__info-phone{
                padding: 15px 0 0;
                @extend %medium-subtitle;
            }
        }
    }
}