header{
    width: 100%;
    padding: 29px 0 0;
    background-color: $second-bg-color;
    .menu{
        background-color: $nav-bg-common-color;
        font-size: 14px;
        .menu__list
        {
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            .menu__list-item
            {
                display: inline;
                a
                {
                    display: inline-block;
                    text-decoration: none;
                    color: $nav-font-color;
                    font-weight: bold;
                    padding: 35px 23px;
                    background-color: $nav-bg-common-color; 
                    transition: $global-transition;
                    &:hover{
                        background-color: $nav-bg-hover-color;
                    }
                }
            }
            
        }
    }
}
